.page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--darkestblue);
  background: linear-gradient(120deg, #1f1d3e, #212144, #000000);
}

.content-wrap {
  position: relative;
  width: 375px;
  height: 667px;
  border: 1px solid var(--lightblue);
  background: linear-gradient(120deg, #5d5aa2, #2b2a57, #1f1d3e);
}

.projects-title {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px;
}

.projects-progress {
  width: 126px;
  height: 126px;
  margin: 0 auto;
  margin-bottom: 36px;
  text-align: center;
}

.projects-list {
  height: 324px;
  overflow: hidden;
  overflow-y: scroll;
}

.meter-label {
  color: white;
}
