.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  margin: 0 20px;

  border-bottom: 1px solid white;
}

.list-input {
  width: 300px;
  margin: 0 20px;

  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;

  line-height: 53px;
  font-weight: 300;
  font-size: 16px;
  text-indent: 4px;
}

.list-input:focus {
  outline: none;
}

.list-input:active {
  outline: none;
}

.list-icon {
  color: white;
  height: 53px;
  font-size: 22px;
  transition: all 250ms ease-out;
}

.list-icon:hover {
  font-size: 32px;
  transition: all 250ms ease-out;
}

.list-item:hover {
  background-color: var(--darkblue);
  transition: all 250ms ease-in-out;
}

.list-item-selected {
  background-color: var(--darkblue);
}
