.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 373px;
  height: 72px;
  bottom: 0;
  background-color: var(--darkblue);
  border-left: 1px solid var(--darkblue);
  border-bottom: 1px solid var(--darkblue);
  border-right: 1px solid var(--darkblue);
}

.footer-icon {
  color: white;
  font-size: 30px;
  margin: 20px;
  transition: all 250ms ease-out;
}

.footer-icon:first-child {
  margin-left: 40px;
}

.footer-icon:last-child {
  margin-right: 40px;
}

.footer-icon:hover {
  transform: scale(1.4);
  color: var(--lightblue);
  transition: all 250ms ease-out;
}

.footer-featured {
  width: 40px;
  height: 40px;
  margin-bottom: 50px;

  font-size: 28px;
  line-height: 36px;
  text-align: center;

  border-radius: 50%;

  background-color: var(--lightblue);
  color: white;
  transition: all 250ms ease-out;
}

.footer-featured:hover {
  transform: scale(1.4);
  transition: all 250ms ease-out;
}
